## STRING

In [ ]:
1.#take name as input and say hello
name = input(" ")
print("Hello ," + name +"!")

In [ ]:
2.# from below string print count of "is".
string = "He is amol and she is chaitali"
count = string.count("is")
print(count)

In [ ]:
3.# from below string split the word by space
string = "Data is new oil"
splitted_list = string .split(" ")
print(splitted_list)

In [ ]:
4.# Now from below list , join all words by "=" and create a sentence.
list_1 = ("Data", "is", "new", "oil")
new_string = "=".join(list_1)
print(new_string)

In [ ]:
5.# from below string replace "java" with "python"
sentence = "I love programming in java."
new_sent = sentence.replace("java","python")
print(new_sent)

In [ ]:
6.# from below string remove(string)additional space and print it
message = "  This is message with space.  "
new_msg = message.strip()
print(new_msg)

In [ ]:
7.# from below string find position(start index)of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

In [ ]:
8.# Given the string "python is fun!",how can you calculate and print its length?
text = "python is fun!"
print(len(text))

In [ ]:
9.# print below string in reverse order
string = "pineappel"
print(string[::-1])

In [ ]:
10.# Given the sring "Welcom to python programming",how can you capitalize the first lrtter of each word and print the modify string?
text = "Welcom to python programming."
textmodified_text = text.title()
print(modified_text)

In [ ]:
11.# Convert all letter of string to upper case
text = "Data is new oil"
print(text.upper())

In [ ]:
12.# from below string just convert first letter of string to upper case
text = "i am learning python"
print(text.title())

In [ ]:
13.# convert all upper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

In [ ]:
14.# print the addition of below 2 number
a = 20
b = 30
c = a + b
print(c)

In [ ]:
15.# print the addition of below 2 srings
a = "20"
b = "30"
c = a + b
print(c)

## LIST

In [ ]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

In [ ]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

In [ ]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

In [ ]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

In [ ]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

In [ ]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

In [ ]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

In [ ]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

In [ ]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

In [ ]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

# Problem

In [ ]:
## 26. Create a list named my list that has three elements
#The integer 3 . the string 'element number two' . another list ['last' ,'element'] in that order
mylist = [3, 'element number two',['last','element'] ]

In [ ]:
# 27. print the thired element of the list
l = [1,2,3,4,5,6,7,8,9]
l[2]

In [ ]:
# 28. modify the last element of this list so that its value is 16. print the modified list so you know the operation was performed sucessfully
listtomodify = ['a','b','sixteen']
listtomodify[-1]=16
print(listtomodify)

In [ ]:
# 29. calculate the length of following list
listtofinflength = ['this','is','the','list','whose','length','i','want']
len(listtofinflength)

In [ ]:
# 30. calculate the sum of following list
inlist = [54,678,2890]
sum(inlist)

In [ ]:
# 31. calculate the sum of following list
inlist = [54,678,2890]
sum(inlist)

In [ ]:
# 32. find the maximum value of the following list
maxlist = [677,53245,234,236,23456,345,23526,3454]
max(maxlist)

In [ ]:
# 33. find the minimum value of the following list
minlist = [351,984,1697,284,134,467,164]
min(minlist)

In [ ]:
# 34. appent the string 'append me!' to the end of the following list.print the list to ensure the operation has been completed successfully.
listtoappend = [1,2,3]
listtoappend.append('append me!')
print(listtoappend)

# Assingment for loop

In [1]:
## 35. Print the first 10 natural numbers using for loop.
n= int(input("Enter the Number: "))
for i in range(1,n+1):
    print(i)

Enter the Number: 10
1
2
3
4
5
6
7
8
9
10

In [2]:
## 36.Python program to print all the even numbers within the given range.
n = int(input("Enter  the number: "))
for i in range(1,n):
    if i%2==0:
        print(i)

Enter  the number: 55
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54

In [ ]:
## 37.Python program to calculate the sum of all numbers from 1 to a given number.
num = int(input("Enter the number: "))
sum=0
for i in range(1,num+1):
    sum +=i
print(sum)

In [ ]:
## 38. Python program to calculate the sum of all the odd numbers within the given range.
num = int(input("Enter the number: "))
sum = 0
for i in range(num):
    if i%2!=0:
        sum += i
print(sum)

In [ ]:
## 39. Python program to print a multiplication table of a given number.
num = int(input("Enter the number: "))
for i in range(1,11):
    print("5 x {} =".format(i),5*i)

In [ ]:
## 40. Python program to display numbers from a list using a for loop.
list1 = [1,5,6,8,9,25]
for i in list1:
    print(i)

In [ ]:
## 41.Python program to count the total number of digits in a number.
number = int(input("Enter the number: "))
count_number = str(number)
count = 0
for i in count_number:
    count +=1
    
print(count)

In [ ]:
## 42.Python program to check if the given string is a palindrome.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
if string==reverse_string:
    print("The given string {} is palindrome".format(string))
else:
    print("The given string {} is not palindrome".format(string))

In [ ]:
## 43. Python program that accepts a word from the user and reverses it.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
print(reverse_string)

In [ ]:
## 44.Python program to check if a given number is an Armstrong number.
number = int(input("Enter the number: "))
number = str(number)
sum =0
for i in number:
    sum += int(i)**len(number)
if sum==int(number):
    print("The given number {} is an Amstrong number".format(number))
else:
    print("The given number {} is not an Amstrong number".format(number))

In [ ]:
## 45. Python program to count the number of even and odd numbers from a series of numbers.

numbers = input("Enter a series of numbers separated by spaces: ")

numbers_list = [int(num) for num in numbers.split()]

even_count = 0
odd_count = 0

for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

In [ ]:
## 46.Python program to display all numbers within a range except the prime numbers.
def is_not_prime(n):
    flag = False
    for i in range(2, int((n**0.5)) + 1):
        if n % i == 0:
            flag = True
    return flag

range_starts = int(input("enter the start range:"))

range_ends = int(input("enter the end range: "))
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

In [ ]:
## 47.Python program to get the Fibonacci series between 0 to 50.
num = int(input("Enter the number: "))
a, b = 0, 1

print(a, end=" ")
print(b, end=" ")

while a + b <= num:
    c = a + b
    print(c, end=" ")
    a, b = b, c

In [ ]:
## 48.Python program to find the factorial of a given number.
num= int(input("Enter the number: "))
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    
print("The factorial of {} is {}".format(num,factorial))

In [ ]:
## 49.Python program that accepts a string and calculates the number of digits and letters.
user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print("The string has {} letters and {} digits".format(letters,digits))

# DICTIONARY

In [8]:
## 50. Given the following dictionary,print all keys.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
for key in my_dict.keys():
    print(key)

name
age
city
occupation

In [9]:
## 51. Print all values of dictionary 
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
for value in my_dict.values():
    print(value)

Alice
25
New York
Engineer

In [10]:
## 52. Print all values except "New York"
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
for value in my_dict.values():
    if value!= "New York":
        print(value)

Alice
25
Engineer

In [11]:
## 53. Delete key "age" from below dict
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
if "age" in my_dict:
    del my_dict["age"]
print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [12]:
## 54. Print value of "occupation" from below dictionary.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
print(my_dict["occupation"])

Engineer

# Arge

In [19]:
## 55. Write a python function for addition of 2 number
def add_numbers(num1,num2):
    sum = num1+num2
    return sum
result = add_numbers(5,15)
print('sum: ',result)

sum:  20

In [20]:
## 56. Write function to add all numbers of list and print
def sum(*numbers):
    total = 0
    for x in numbers:
        total += x
    return total
total = sum(8,2,3,0,7,5)
print(total)

25

In [29]:
## 57. Write a function to check if number is even or odd and print it.
def even_odd(num):
    if num%2==0:
        print ("{} is even number".format(num))
    else:
        print ("{} is odd number".format(num))
        
    
even_odd(23)

23 is odd number

In [16]:
## 58. Take any no of input in  function and print them.
def print_args(*args):
    for arg in args:
        print(arg)
        return 11
a = print_args(1,2,3,"hello")
print(a)

1
11

In [46]:
## 59. Write a python function which will take n number of inputs and print of all numbers
def add_number(*numbers):
  sum=0
  for num in numbers:
    sum = sum + num
  return sum

addition = add_number(1,2,3,)
print(addition)

6

In [34]:
## 60. Write python function which take will n number of string as inputs and will return list of upper case string
def upper_string(*words):
    upper_list=[]
    for word in words:
        upper_list.append(word.upper())
    return upper_list
upper_words = upper_string("ketsn","sham","amol","chirag","ram","vivek")
print (upper_words)

['KETSN', 'SHAM', 'AMOL', 'CHIRAG', 'RAM', 'VIVEK']

In [37]:
## 61. Write a python function which takes multiple leyword arguments.
def print_kwargs(**kwargs):
    for key,value in kwargs.items():
        print("{},{}".format(key,value))
print_kwargs(name="alice", age=30, city="new york")

name,alice
age,30
city,new york

In [38]:
## 62. Write a python function which take keyword arguments and maximum value among all
def find_mx(**kwargs):
    return max(keargs.values())
result = find_max(a=10,b=5,c=20)
print(result)

20