## STRING

In [41]:
1.#take name as input and say hello
name = input(" ")
print("Hello ," + name +"!")

 sushma
Hello ,sushma!

In [1]:
2.# from below string print count of "is".
string = "He is amol and she is chaitali"
count = string.count("is")
print(count)

2

In [2]:
3.# from below string split the word by space
string = "Data is new oil"
splitted_list = string .split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
4.# Now from below list , join all words by "=" and create a sentence.
list_1 = ("Data", "is", "new", "oil")
new_string = "=".join(list_1)
print(new_string)

Data=is=new=oil

In [5]:
5.# from below string replace "java" with "python"
sentence = "I love programming in java."
new_sent = sentence.replace("java","python")
print(new_sent)

I love programming in python.

In [7]:
6.# from below string remove(string)additional space and print it
message = "  This is message with space.  "
new_msg = message.strip()
print(new_msg)

This is message with space.

In [9]:
7.# from below string find position(start index)of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [11]:
8.# Given the string "python is fun!",how can you calculate and print its length?
text = "python is fun!"
print(len(text))

14

In [12]:
9.# print below string in reverse order
string = "pineappel"
print(string[::-1])

leppaenip

In [14]:
10.# Given the sring "Welcom to python programming",how can you capitalize the first lrtter of each word and print the modify string?
text = "Welcom to python programming."
textmodified_text = text.title()
print(modified_text)

Welcom To Python Programming.

In [15]:
11.# Convert all letter of string to upper case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [16]:
12.# from below string just convert first letter of string to upper case
text = "i am learning python"
print(text.title())

I Am Learning Python

In [17]:
13.# convert all upper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [22]:
14.# print the addition of below 2 number
a = 20
b = 30
c = a + b
print(c)

50

In [23]:
15.# print the addition of below 2 srings
a = "20"
b = "30"
c = a + b
print(c)

2030

## LIST

In [16]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [28]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [18]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [32]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [33]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [38]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

2

In [39]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [40]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [41]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [45]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# Problem

In [1]:
## 26. Create a list named my list that has three elements
#The integer 3 . the string 'element number two' . another list ['last' ,'element'] in that order
mylist = [3, 'element number two',['last','element'] ]

In [2]:
# 27. print the thired element of the list
l = [1,2,3,4,5,6,7,8,9]
l[2]

3

In [3]:
# 28. modify the last element of this list so that its value is 16. print the modified list so you know the operation was performed sucessfully
listtomodify = ['a','b','sixteen']
listtomodify[-1]=16
print(listtomodify)

['a', 'b', 16]

In [4]:
# 29. calculate the length of following list
listtofinflength = ['this','is','the','list','whose','length','i','want']
len(listtofinflength)

8

In [5]:
# 30. calculate the sum of following list
inlist = [54,678,2890]
sum(inlist)

3622

In [6]:
# 31. calculate the sum of following list
inlist = [54,678,2890]
sum(inlist)

3622

In [7]:
# 32. find the maximum value of the following list
maxlist = [677,53245,234,236,23456,345,23526,3454]
max(maxlist)

53245

In [8]:
# 33. find the minimum value of the following list
minlist = [351,984,1697,284,134,467,164]
min(minlist)

134

In [9]:
# 34. appent the string 'append me!' to the end of the following list.print the list to ensure the operation has been completed successfully.
listtoappend = [1,2,3]
listtoappend.append('append me!')
print(listtoappend)

[1, 2, 3, 'append me!']

# Assingment for loop

In [ ]:
## 35.Python program to print all the even numbers within the given range.
n = int(input("Enter  the number: "))
for i in range(1,n):
    if i%2==0:
        print(i)

In [ ]:
## 36.Python program to calculate the sum of all numbers from 1 to a given number.
num = int(input("Enter the number: "))
sum=0
for i in range(1,num+1):
    sum +=i
print(sum)

In [ ]:
## 37. Python program to calculate the sum of all the odd numbers within the given range.
num = int(input("Enter the number: "))
sum = 0
for i in range(num):
    if i%2!=0:
        sum += i
print(sum)

In [ ]:
## 38. Python program to print a multiplication table of a given number.
num = int(input("Enter the number: "))
for i in range(1,11):
    print("5 x {} =".format(i),5*i)

In [ ]:
## 39. Python program to display numbers from a list using a for loop.
list1 = [1,5,6,8,9,25]
for i in list1:
    print(i)

In [ ]:
## 40.Python program to count the total number of digits in a number.
number = int(input("Enter the number: "))
count_number = str(number)
count = 0
for i in count_number:
    count +=1
    
print(count)

In [ ]:
## 41.Python program to check if the given string is a palindrome.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
if string==reverse_string:
    print("The given string {} is palindrome".format(string))
else:
    print("The given string {} is not palindrome".format(string))

In [ ]:
## 42. Python program that accepts a word from the user and reverses it.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
print(reverse_string)

In [ ]:
## 43.Python program to check if a given number is an Armstrong number.
number = int(input("Enter the number: "))
number = str(number)
sum =0
for i in number:
    sum += int(i)**len(number)
if sum==int(number):
    print("The given number {} is an Amstrong number".format(number))
else:
    print("The given number {} is not an Amstrong number".format(number))

In [ ]:
## 44. Python program to count the number of even and odd numbers from a series of numbers.

numbers = input("Enter a series of numbers separated by spaces: ")

numbers_list = [int(num) for num in numbers.split()]

even_count = 0
odd_count = 0

for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

In [ ]:
## 45.Python program to display all numbers within a range except the prime numbers.
def is_not_prime(n):
    flag = False
    for i in range(2, int((n**0.5)) + 1):
        if n % i == 0:
            flag = True
    return flag

range_starts = int(input("enter the start range:"))

range_ends = int(input("enter the end range: "))
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

In [ ]:
## 46.Python program to get the Fibonacci series between 0 to 50.
num = int(input("Enter the number: "))
a, b = 0, 1

print(a, end=" ")
print(b, end=" ")

while a + b <= num:
    c = a + b
    print(c, end=" ")
    a, b = b, c

In [ ]:
## 47.Python program to find the factorial of a given number.
num= int(input("Enter the number: "))
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    
print("The factorial of {} is {}".format(num,factorial))

In [ ]:
## 48.Python program that accepts a string and calculates the number of digits and letters.
user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print("The string has {} letters and {} digits".format(letters,digits))