In [3]:
name = input (" ")
print("hello,"+ name +"!")

 sushma
hello,sushma!

In [4]:
string = "he is amol and she is reshma"
count = string.count("is")
print(count)

2

In [11]:
string = "Data is new oil"
splitted_list = string .split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [6]:
list_1 = ("Data","is","new","oil")
new_string = "=".join(list_1)
print(new_string)

Data=is=new=oil

In [12]:
list_1 = ("Data","is","new","oil")
new_string ="=".join(list_1)
print(new_string)

Data=is=new=oil

In [14]:
sentence = "i love programming in java."
new_sent = sentence.replace("java","python")
print(new_sent)

i love programming in python.

In [15]:
message = "  this is msg with space. "
new_msg = message.strip()
print(new_msg)

this is msg with space.

In [21]:
sentence = "this is sample sentence."
position = sentence.index("sample")
print(position)

8

In [22]:
text = "python is fun"
print(len(text))

13

In [23]:
text = "welcom to python programming."
modified_text = text.title()
print(modified_text)

Welcom To Python Programming.

In [24]:
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [25]:
text = "i am learning python"
print(text.title())

I Am Learning Python

In [26]:
text = "DATa is NeW oil"
print(text.swapcase())

datA IS nEw OIL

In [27]:
a = 20
b = 30
c = a+b
print(c)

50

In [28]:
a = "20"
b = "30"
c = a+b
print(c)

2030

# list

In [33]:
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [37]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200,)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [35]:
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [40]:
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,89,55])
print(my_list)

[1, 2, 3, 4, 5, 66, 89, 55]

In [41]:
my_list = [1,2,3,4,5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [42]:
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [43]:
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [44]:
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [45]:
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# Problem

# create a list named my list that has three elements:

In [14]:
#The integer 3 . the string 'element number two' . another list ['last' ,'element'] in that order
mylist = [3, 'element number two',['last','element'] ]

In [15]:
# print the thired element of the list
l = [1,2,3,4,5,6,7,8,9]
l[2]

3

In [16]:
# modify the last element of this list so that its value is 16. print the modified list so you know the operation was performed sucessfully
listtomodify = ['a','b','sixteen']
listtomodify[-1]=16
print(listtomodify)

['a', 'b', 16]

In [17]:
# calculate the length of following list
listtofinflength = ['this','is','the','list','whose','length','i','want']
len(listtofinflength)

8

In [18]:
# calculate the sum of following list
inlist = [54,678,2890]
sum(inlist)

3622

In [19]:
# find the maximum value of the following list
maxlist = [677,53245,234,236,23456,345,23526,3454]
max(maxlist)

53245

In [20]:
# find the minimum value of the following list
minlist = [351,984,1697,284,134,467,164]
min(minlist)

134

In [21]:
# appent the string 'append me!' to the end of the following list.print the list to ensure the operation has been completed successfully.
listtoappend = [1,2,3]
listtoappend.append('append me!')
print(listtoappend)

[1, 2, 3, 'append me!']