## STRING

In [41]:
1.#take name as input and say hello
name = input(" ")
print("Hello ," + name +"!")

 sushma
Hello ,sushma!

In [1]:
2.# from below string print count of "is".
string = "He is amol and she is chaitali"
count = string.count("is")
print(count)

2

In [2]:
3.# from below string split the word by space
string = "Data is new oil"
splitted_list = string .split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
4.# Now from below list , join all words by "=" and create a sentence.
list_1 = ("Data", "is", "new", "oil")
new_string = "=".join(list_1)
print(new_string)

Data=is=new=oil

In [5]:
5.# from below string replace "java" with "python"
sentence = "I love programming in java."
new_sent = sentence.replace("java","python")
print(new_sent)

I love programming in python.

In [7]:
6.# from below string remove(string)additional space and print it
message = "  This is message with space.  "
new_msg = message.strip()
print(new_msg)

This is message with space.

In [9]:
7.# from below string find position(start index)of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [11]:
8.# Given the string "python is fun!",how can you calculate and print its length?
text = "python is fun!"
print(len(text))

14

In [12]:
9.# print below string in reverse order
string = "pineappel"
print(string[::-1])

leppaenip

In [14]:
10.# Given the sring "Welcom to python programming",how can you capitalize the first lrtter of each word and print the modify string?
text = "Welcom to python programming."
modified_text = text.title()
print(modified_text)

Welcom To Python Programming.

In [15]:
11.# Convert all letter of string to upper case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [16]:
12.# from below string just convert first letter of string to upper case
text = "i am learning python"
print(text.title())

I Am Learning Python

In [17]:
13.# convert all upper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [22]:
14.# print the addition of below 2 number
a = 20
b = 30
c = a + b
print(c)

50

In [23]:
15.# print the addition of below 2 srings
a = "20"
b = "30"
c = a + b
print(c)

2030

# LIST

In [16]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [28]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [18]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [32]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [33]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [38]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

2

In [39]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [40]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [41]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [45]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']